@import '@dsrca/design/style/variables.scss';

.card {
  display: block;
}

.default {
  background-color: var(--color-bg);
  border: 1px solid var(--color-bg);
  box-shadow: var(--box-shadow);
}

.outline {
  border: 1px solid var(--color-border);
}

.lg {
  padding: $space-lg;
  border-radius: $radius-lg;
}

.md {
  padding: $space-md;
  border-radius: $radius-md;
}

.sm {
  padding: $space-sm;
  border-radius: $radius-sm;
}

.plain {
  padding: 0;
}
