.turbo/
.next/
node_modules/

/packages/cdn/lib/

/packages/design/es/
/packages/design/lib/
/packages/design/style/

/packages/react/docs/
/packages/react/es/
/packages/react/lib/

*.tsbuildinfo
.DS_Store
