apps/index/assets/**/*.gif filter=lfs diff=lfs merge=lfs -text
apps/index/assets/**/*.ico filter=lfs diff=lfs merge=lfs -text
apps/index/assets/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
apps/index/assets/**/*.jpg filter=lfs diff=lfs merge=lfs -text
apps/index/assets/**/*.png filter=lfs diff=lfs merge=lfs -text
apps/index/assets/**/*.webp filter=lfs diff=lfs merge=lfs -text
packages/cdn/src/**/*.gif filter=lfs diff=lfs merge=lfs -text
packages/cdn/src/**/*.ico filter=lfs diff=lfs merge=lfs -text
packages/cdn/src/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
packages/cdn/src/**/*.jpg filter=lfs diff=lfs merge=lfs -text
packages/cdn/src/**/*.png filter=lfs diff=lfs merge=lfs -text
packages/cdn/src/**/*.webp filter=lfs diff=lfs merge=lfs -text
* -text
