@import '@dsrca/design/style/variables.scss';

.button {
  appearance: none;
  outline: none;
  cursor: pointer;
  border-radius: $radius-sm;
  font-size: $font-md;
  height: 32px;
  padding: 4px 15px;
  color: var(--color-font);
  background-color: transparent;
  border: 1px solid var(--color-border);

  &:hover,
  &:active {
    transition: background-color $trans-fast ease;
  }

  &:hover {
    background-color: var(--color-bg-hover);
    border-color: var(--color-bg-hover);
  }

  &:active {
    background-color: var(--color-bg-active);
    border-color: var(--color-bg-active);
  }
}

.primary {
  color: var(--color-font-inverse);
  background-color: var(--color-primary);
  border-color: var(--color-primary);

  &:hover {
    background-color: var(--color-primary-hover);
    border-color: var(--color-primary-hover);
  }

  &:active {
    background-color: var(--color-primary-active);
    border-color: var(--color-primary-active);
  }
}

.success {
  color: var(--color-font-inverse);
  background-color: var(--color-success);
  border-color: var(--color-success);

  &:hover {
    background-color: var(--color-success-hover);
    border-color: var(--color-success-hover);
  }

  &:active {
    background-color: var(--color-success-active);
    border-color: var(--color-success-active);
  }
}

.danger {
  color: var(--color-font-inverse);
  background-color: var(--color-danger);
  border-color: var(--color-danger);

  &:hover {
    background-color: var(--color-danger-hover);
    border-color: var(--color-danger-hover);
  }

  &:active {
    background-color: var(--color-danger-active);
    border-color: var(--color-danger-active);
  }
}
